/* if the viewport is equal to 340px or less than that */ 
@media only screen and (max-width: 340px){
    .header_area .main-menu .navbar,
    .header_area .main-menu .navbar .navbar-brand,
    h4,
    .site-main .services-area{
        padding: 2%;
        margin: 0%;
    }

    .site-main .site-banner .site-title h1{
        font-size: 1rem;
    }

    .site-main .site-banner .site-title .title-text{
        font-size: 41px;
    }

    .site-main > .services-area .services{
        width: 13rem;
    }

}

/* if the viewport is equal to 767px or less than that */ 
@media only screen and (max-width: 767px){

    html{
        overflow-x: visible !important;
        width: 100%;
    }

    .header_area .main-menu .navbar{
        width: 100%;
    }

    .site-main .site-banner .site-title h3{
        padding-top: 15%;
    }

    .site-main .education-area,
    .site-main .experiences-area,
    .site-main .project-area
    .site-main .services-area{
        padding: 7rem 4%;
    }

    .site-main .about-area .about-title h2,
    .site-main .education-area .education-title h2,
    .site-main .experiences-area .experiences-title h2{
        text-align: center;
    }

    .site-main .about-area .about-title h2 > span,
    .site-main .education-area .education-title h2 > span,
    .site-main .projects-area .projects-title h2 > span,
    .site-main .experiences-area .experiences-title h2 > span,
    .site-main .services-area .services-title h2 > span{
        font-size: 36px;
        letter-spacing: 5px;
    }

    .site-main .about-area,
    .site-main .education-area,
    .site-main .project-area .button-group,
    .site-main .site-banner .site-buttons .primary-button{
        margin-bottom: 5%;
    }
    
    .site-main .site-banner .site-title h4{
        font-size: 1rem;
    }

    .site-main .site-banner .site-buttons .primary-button{
        width: 100%;
        margin-bottom: 30%;
    }
    
    .site-main .about-area .about-title .paragraph .para{
        text-align: justify;
    }

    .site-main .about-area .paragraph .primary-button{
        display: block;
        margin: 0 auto;
    }

    .site-main .site-banner .banner-image{
        display: none;
    }

    .site-main .education-area .education-title h3{
        font-size: 28px;
    }

    .site-main .project-area .button-group button{
        font: normal 500 18px/40px var(--roboto);
    }

    .site-main .project-area .grid .element-item .our-project .img img{
        width: 100%;
    }

    .site-main .about-area .about-title p{
        padding: 0%;
    }

    @keyframes typing {
        from { width: 0 }
        to { width: 92% }
      }


}

/* if the viewport is equal to 1356px or less than that */ 
@media only screen and (max-width: 1096px){

    .site-main .site-banner .site-title h1{
        font-size: 3em;
    }


}

/* if the viewport is equal to 1356px or less than that */ 
@media only screen and (max-width: 1356px){

    .site-main .site-banner .site-title h1{
        font-size: 4em;
    }


}



/* if the viewport is equal to 1910px or less than that */ 
@media only screen and (max-width: 1910px){
    .header_area .main-menu .navbar{
        padding: 1rem;
    }

    .container{
        max-width: 90%;
    }

    .site-main .brand-area,
    .site-main .services-area .services-title,
    .site-main .about-area{
        padding: 3% 4%;
    }


}
