/* import fonts from fonts.css file */
@import url(./fonts.css);

/* css variables */
@import url(./partials/_variables.css);
@import url(./partials/_global.css);

/* start nav */

.header_area .main-menu .navbar .navbar-brand{
    padding: 0 2rem 0 5rem;
}

.header_area .main-menu .navbar{
    padding: 1rem 20rem;
}

.header_area .main-menu .navbar-collapse{
    width: auto;
}

.header_area .main-menu .navbar .navbar-brand{
    font: normal 600 20px/2px var(--roboto);
    text-transform: uppercase;
    padding: 1.7rem 0;
    color: var(--title-color);
}

.header_area .main-menu .nav-item .nav-link{
    font: normal 500 15px/2px var(--roboto);
    text-transform: uppercase;
    padding: 1.7rem;
    color: var(--title-color);
}

.header_area .main-menu .navbar-nav .active a{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header_area .main-menu .navbar-nav a:hover{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}


/* end nav */


/* banner area */

.site-main .site-banner .site-title h3{
    padding-top: 25%;
    font-weight: 500;
}

.site-main .site-banner .site-title h3::after{
    content: "";
    height: 2px;
    width: 18.5vw;
    background: black;
    display: inline-block;
    margin-left: 5%;
    transform: translateY(-10px);
}

.site-main .site-banner .site-title h1{
    font-size: 5rem;
}

.site-main .site-banner .site-title h4{
    font-size: 1.5rem;
}

.site-main .site-banner .banner-image > img {
    padding: 7rem 7rem;
    width: 100%;
}

.site-main .site-buttons .button{
    width: 100%;
}

.site-main .site-buttons .primary-button{
    margin-right: 3%
}

.typeWriter {
    overflow: hidden;
    border-right: .2em solid var(--primary-color); /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15rem; /* Adjust as needed */
    animation: 
      typing 3s steps(60, end),
      blink-caret .75s step-end infinite;
    display: inline-block;
}

@keyframes typing {
    from { width: 0 }
    to { width: 60% }
  }
  
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: var(--primary-color); }
  }

/* end banner area */

/* start about area */

.site-main .about-area{
    padding: 10rem 5rem 5rem 5rem;
}

.site-main .about-area .about-title h2 > span{
    font: normal bold 49px/60px var(--roboto);
    letter-spacing: 10px;
}

.site-main .about-area .about-title .paragraph > p{
    padding: 0.4rem 0;
}

.site-main .about-area .about-image{
    width: 75%;
}

/* end about area */


/*start education area */
/*
.site-main .education-area{
    padding: 8rem 8rem 5em 8rem;
    margin-bottom: 5%;
}

.site-main .education-area .education-title h2 > span{
    font: normal bold 49px/60px var(--roboto);
    letter-spacing: 10px;
}

.site-main .education-area .education-title .paragraph{
    margin-right: 5%;
}

.site-main .education-area .education-title .paragraph > p{
    padding: 0.4rem 0;
}

*/
/* end education area */

/* start experiences area */

.site-main .experiences-area{
    padding: 10rem 8rem 5em 8rem;
}

.site-main .experiences-area .experiences-title h2 > span{
    font: normal bold 49px/60px var(--roboto);
    letter-spacing: 10px;
}

.site-main .experiences-area .col{
    max-width: 100%;
    margin: 0 auto;
}

.site-main .experiences-area .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    border-radius: 5px;
    padding: 2rem 2rem;
  }
  
  .site-main .experiences-area .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

/* end experiences area */

/* start projects area */

.site-main .project-area{
    padding: 7rem 8rem 7rem 8rem;
}

.site-main .project-area .siteName{
    font-weight: bold !important;
}

.site-main .project-area .projectPhotos{
    max-width: 100%;
    max-height: 100%;
}

.site-main .project-area .site-buttons .button{
    width: auto;
}

.site-main .project-area .project-title h2 > span{
    font: normal bold 49px/60px var(--roboto);
    letter-spacing: 10px;
}

/*
.site-main .project-area .grid{
    box-sizing: border-box;
}

.site-main .project-area .button-group button{
    background: transparent;
    border: none;
    font: normal 500 16px/130px var(--roboto);
    text-transform: uppercase;
}

.site-main .project-area .grid .our-project > .title h4{
    font: normal 700 25px/26px var(--roboto);
}

.site-main .project-area .grid .our-project .img a:hover img{
    filter: brightness(1.1) drop-shadow(1px 8px 30px #b1afaf);
}
*/

/* end projects area */

/* start services area */

.site-main .services-area{
    padding: 2rem 0rem 10rem 0rem;
}

.site-main .services-area .services-title{
    padding: 0 14rem;
}

.site-main .services-area .services-title h1{
    font-size: 35px;
}

.site-main .services-area .services-title h2 > span{
    font: normal bold 49px/60px var(--roboto);
    letter-spacing: 10px;
}

.site-main > .services-area .services{
    background: rgba(248, 252, 253, 0.973);
    padding: 2rem 0;
    width: auto;
    margin: .5rem .5rem;
    transition: box-shadow .7s ease;
}

.site-main > .services-area .services:hover{
    box-shadow: var(--box-shadow);
}

/* end services area */

/* footer area */
.fab{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.icons{
    margin-right: 0.5rem;
}