/* import fonts from fonts.css file */
@import url(./fonts.css);

/* css variables */
@import url(./partials/_variables.css);
@import url(./partials/_global.css);

/* start nav */

.header_area .main-menu .navbar .navbar-brand{
    padding: 0 2rem 0 5rem;
}

.header_area .main-menu .navbar{
    padding: 1rem 20rem;
}

.header_area .main-menu .navbar-collapse{
    width: auto;
}

.header_area .main-menu .navbar .navbar-brand{
    font: normal 600 20px/2px var(--roboto);
    text-transform: uppercase;
    padding: 1.7rem;
    color: var(--title-color);
}

.header_area .main-menu .nav-item .nav-link{
    font: normal 500 15px/2px var(--roboto);
    text-transform: uppercase;
    padding: 1.7rem;
    color: var(--title-color);
}

.header_area .main-menu .navbar-nav .active a{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header_area .main-menu .navbar-nav a:hover{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}


/* end nav */


/* banner area */

.site-main .site-banner .site-title h3{
    padding-top: 25%;
    font-weight: 500;
}

.site-main .site-banner .site-title h3::after{
    content: "";
    height: 2px;
    width: 18vw;
    background: black;
    display: inline-block;
    margin-left: 5%;
    transform: translateY(-10px);
}

.site-main .site-banner .site-title h1{
    font-size: 5rem;
}

.site-main .site-banner .site-title h4{
    font-size: 1.5rem;
}

.site-main .site-banner .banner-image > img {
    padding: 7rem 0;
    width: 90rem;
}

.site-main .site-buttons .button{
    width: 45%;
}

.site-main .site-buttons .primary-button{
    margin-right: 3%
}

/* end banner area */

/* start about area */

.site-main .about-area{
    padding: 10rem 5rem 5rem 5rem;
    margin-bottom: 5%;
}

.site-main .about-area .about-title h2 > span{
    font: normal bold 49px/60px var(--roboto);
    letter-spacing: 10px;
}

.site-main .about-area .about-title .paragraph > p{
    padding: 0.4rem 0;
}

/* end about area */

/*start education area */

.site-main .education-area{
    padding: 0 8rem 5em 8rem;
    margin-bottom: 5%;
}

.site-main .education-area .education-title h2 > span{
    font: normal bold 49px/60px var(--roboto);
    letter-spacing: 10px;
}

.site-main .education-area .education-title .paragraph{
    margin-right: 5%;
}

.site-main .education-area .education-title .paragraph > p{
    padding: 0.4rem 0;
}


/* end education area */

/* start experiences area */

.site-main .experiences-area{
    padding: 10rem 8rem 5em 8rem;
}

.site-main .experiences-area .experiences-title h2 > span{
    font: normal bold 49px/60px var(--roboto);
    letter-spacing: 10px;
}

.site-main .experiences-area .col{
    max-width: 100%;
    margin: 0 auto;
}

.site-main .experiences-area .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    border-radius: 5px;
    padding: 2rem 2rem;
  }
  
  .site-main .experiences-area .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

/* end experiences area */

/* start projects area */

.site-main .project-area{
    padding: 7rem 0;
}

.site-main .project-area .grid{
    box-sizing: border-box;
}

.site-main .project-area .button-group button{
    background: transparent;
    border: none;
    font: normal 500 16px/130px var(--roboto);
    text-transform: uppercase;
}

.site-main .project-area .grid .our-project > .title h4{
    font: normal 700 25px/26px var(--roboto);
}

.site-main .project-area .grid .our-project .img a:hover img{
    filter: brightness(1.1) drop-shadow(1px 8px 30px #b1afaf);
}

/* end projects area */

/* start services area */

.site-main .services-area{
    padding: 7rem 2rem;
}

.site-main .services-area .services-title{
    padding: 0 14rem;
}

.site-main .services-area .services-title h1{
    font-size: 35px;
}

.site-main > .services-area .services{
    background: rgba(248, 252, 253, 0.973);
    padding: 2rem 0;
    width: 16rem;
    margin: .5rem .5rem;
    transition: box-shadow .7s ease;
}

.site-main > .services-area .services:hover{
    box-shadow: var(--box-shadow);
}

/* end services area */

/* start contact area */

.site-main .contact-area .contact{
    background: var(--gradient-color) no-repeat;
    padding: 10rem 0;
    margin: 3rem auto;
    background-size: cover;
}

.site-main .contact-area .contact .contact-title h4{
    font: normal 700 30px/30px var(--roboto);
    color: whitesmoke;
}

.site-main .contact-area .contact .contact-title p{
    color: whitesmoke;
    padding: 1rem 4rem;
}

.site-main .contact-area .contact form .input-textbox input{
    width: 400px;
    padding: 1.5rem 1rem;
    border: 1px solid whitesmoke;
    background: white;
    color: black;
    font: normal 500 17px/20px var(--roboto);
}

.site-main .contact-area .contact form .input-textbox input::placeholder,
.site-main .contact-area .contact form .input-textbox textarea::placeholder{
    color: var(--text-color);
}

.site-main .contact-area .contact form .btn-submit button{
    background: whitesmoke;
    color: black;
    font: normal 500 17px/20px var(--roboto);
    padding: 0.7rem 2rem;
}

.site-main .contact-area .contact form .submit-column{
    text-align: right;
}

/* end contact area */

/* footer area */
.fab{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}