*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

.col {
  padding-left:0px;
  padding-right: 0px;
}
.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
  padding-left: 0px;
  padding-right: 0px;
}

body{
  font-family: helvetica;
}

nav{
  height: 80px;
  width: 100%;
  background: white;
}

h1{
  font-size: 7vw;
  font-weight: bold;
  color: #537895;
}

h3{
  font-size: 3vw;
  font-weight: lighter;
  color: #537895;
}

label.logo{
  font-size: 30px;
  font-weight: light;
  color: #707070;
  padding: 0 100px;
  line-height: 80px;
}

nav ul{
  float: right;
  margin-right: 40px;
}

nav li{
  display: inline-block;
  margin: 0 8px;
  line-height: 80px;
}

nav a{
  color: #707070;
  font-size: 18px;
  text-transform: uppercase;
  border: 1px solid transparent;
  padding: 7px 10px;
  border-radius: 3px;
}

a.active,a:hover{
  border: 1px solid #707070;
}

nav #icon{
  color: #707070;
  font-size: 30px;
  line-height: 80px;
  float: right;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

@media (max-width: 1048px){
  label.logo{
    font-size: 32px;
    padding-left: 60px;
  }
  nav ul{
    margin-right: 20px;
  }
  nav a{
    font-size: 17px;
  }
}

@media (max-width: 1112px){
  nav #icon{
    display: block;
  }
  nav ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2f3640;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav a{
    font-size: 20px;
  }
  a.active,a:hover{
    border: none;
    color: #3498db;
  }
  nav ul.show{
    left: 0;
  }
}

#hero{
  background-color: #FCF9F9;
  height: calc(100vh - 80px);
  background-image: url("images/download\ \(7\).png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: -10% -10%;
  padding: 0;
}

#heroimg{
  width: 100%;
}

.bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #FFFFFF;
  padding: 90px 90px
  ;
}

.bg-left {
  background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("https://unsplash.imgix.net/photo-1416339442236-8ceb164046f8?q=75&fm=jpg&s=8eb83df8a744544977722717b1ea4d09");
}

.bg-right {
  background: url("https://unsplash.imgix.net/photo-1416339442236-8ceb164046f8?q=75&fm=jpg&s=8eb83df8a744544977722717b1ea4d09");
}