*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

body{
  font-family: helvetica;
}

nav{
  height: 80px;
  width: 100%;
  background: white;
}

h1{
  font-size: 7vw;
  font-weight: bold;
  color: #537895;
}

h3{
  font-size: 3vw;
  font-weight: lighter;
  color: #537895;
}

label.logo{
  font-size: 30px;
  font-weight: light;
  color: #707070;
  padding: 0 100px;
  line-height: 80px;
}

nav ul{
  float: right;
  margin-right: 40px;
}

nav li{
  display: inline-block;
  margin: 0 8px;
  line-height: 80px;
}

nav a{
  color: #707070;
  font-size: 18px;
  text-transform: uppercase;
  border: 1px solid transparent;
  padding: 7px 10px;
  border-radius: 3px;
}

a.active,a:hover{
  border: 1px solid #707070;
}

nav #icon{
  color: #707070;
  font-size: 30px;
  line-height: 80px;
  float: right;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

@media (max-width: 1048px){
  label.logo{
    font-size: 32px;
    padding-left: 60px;
  }
  nav ul{
    margin-right: 20px;
  }
  nav a{
    font-size: 17px;
  }
}

@media (max-width: 1112px){
  nav #icon{
    display: block;
  }
  nav ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2f3640;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav a{
    font-size: 20px;
  }
  a.active,a:hover{
    border: none;
    color: #3498db;
  }
  nav ul.show{
    left: 0;
  }
}

#hero{
  background-color: #FCF9F9;
  background-size: cover;
  height: calc(100vh - 80px);
}

#headlines{
  float: right;
  margin: 200px 75px 0px 0px;
}

#heroimage img{
  vertical-align: bottom;
  width: 50%;
  height: 50%;
}
